.stretchBtb{
    width: 37%;
}
.stretchBtbFull{
    width: 99%;
}
.allignCenter{
    text-align: center;
}
.homeLine {
    
  float:left;
  margin-right: 10px;
}
.title {
    font-weight: bold;
    font-size: 110%;
}
.price{
    font-size: 100%;
    font-weight: bold;
     color: red;
}
.discount{
    font-size: 80%;
     color: grey;
}
.store{
    font-size: 80%;
    font-weight: bold;
}
.user-logo {
    float: left;
    width: 50px;
}

.user-logo img {
    width: 70px;
    height: 70px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
}
.insideTitle{

        margin-left:10px;
}
.ShowMoreBtn{
    float:right;
    display:block;
    margin-right:0px;
    clear:left;

}

.km-listinset, .km-listgroupinset {
    margin: 0;
}
.km-flat, .km-flat .km-navbar, .km-flat .k-toolbar, .km-flat .km-detail, .km-flat .km-content {
    background-color: #fff;
}
left-drawer {
    border: none;
    border-radius: 0;
}
.km-flat .km-button {
    border: none;
    background: #fff;
}
.login-button {
    margin-top: 10px;    
}
a#modalview-login-button, a#modalview-reg-button {
    width: 90%;
    color: #fff;
    background: #10c4b2;
    margin: 0 0 10px;
    padding: 10px;
    text-transform: uppercase;
    border: 1px solid rgba(0,0,0,0.1);
}

a#modalview-login-button {
    margin-top: 10px;
}
.km-widget.km-buttongroup .km-button {
    margin: 0;
    border-width: 1px;
    padding: 1.48em 1.9em 1.44em;
    text-transform: uppercase;
    border: 1px solid;
}
a.btn.btn-signup.km-widget.km-button, #continue-button {
    width: 90%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin: 20px;
    padding: 15px;
    text-transform: uppercase;
    background: #10c4b2;
    color: #fff;
}
::-webkit-input-placeholder {
   font-size: 0.8rem;
}

:-moz-placeholder { /* Firefox 18- */
   font-size: 0.8rem;  
}

::-moz-placeholder {  /* Firefox 19+ */
   font-size: 0.8rem;
}

:-ms-input-placeholder {  
   font-size: 0.8rem;  
}

.fill-form {
    text-transform: uppercase;
}
#add-logo {
    text-transform: uppercase;
    vertical-align: -webkit-baseline-middle;
}
#attach-camera {
    float: left;
    vertical-align: middle;
}
