
<div data-role="view"  data-layout="default"  data-init="Offer.init" data-show="Offer.show" >
    <div data-role="header">
        <div data-role="navbar">
            Offer
            <a  data-align="left" data-role="backbutton">Back</a>

        </div>
    </div>

    <div >
        <div class="user-logo">
            <img data-bind="attr:{src: User().PictureUrl}" alt="styles/images/appbuilder.png" />
        </div>
        offer by: <span class="title" data-bind="text: User().CompanyName" class="user-share-txt"></span><br>

        <div id="scrollview"></div>
        <div class="insideTitle">
            <h2 id="personName" class="person-name" data-bind='text: Title'></h2>
             <span id="activityDate" class="time-span" data-bind="text: CreatedAtFormatted"></span>

            Initial Price:<span data-bind="text:InitialPrice" ></span> Lev.<br>
            Final Price:<span data-bind="text:FinalPrice" ></span> Lev.<br>
            <span data-bind="text:Discount"></span>% discount<br>
            Description: <span data-bind="text:Description" ></span><br>
      </div> 
    </div>

    <div data-title="Button Appearance" class="buttonAppearance">
        <ul data-role="listview" data-type="group" data-style="inset">
            
            <li>
                <ul>
                    <li>
                        <i></i> <a data-role="button" data-icon="globe" data-click="Offer.planRoute">Plan Route</a>
                    </li>
                    <li>
                        <i></i> <a  data-role="button" data-rel="external" href="tel:${Phone}">Call the Store!</a>
                        
                    </li>
                    <li>
                        <i></i> <a data-role="button" data-icon="details" data-click="Offer.MoreFromShop" data-transition="none">More offers from this shop</a>
                    </li>
                </ul>
            </li>
        </ul>
        <style>
            .buttonAppearance .km-button:not(.km-back)
            {
                width: 90%;
                box-sizing: border-box;
                -moz-box-sizing: border-box;
                -webkit-box-sizing: border-box;
            }
        </style>
    </div>

    <div data-role="footer">

    </div>
  
  </div> 
