
  <div id="map" data-role="view"
    data-title="Map"
       data-model="Map"
       data-layout="layout"
    data-stretch="true"
    data-init="Map.initMap"
    data-show="Map.show">
    <div data-role="header">
      <div data-role="navbar">
        <span data-role="view-title"></span>
        <a data-role="button"
          data-click="Map.onSetGeoLocationClick"
          data-align="right"
          data-icon="home">
        </a>
      </div>
    </div>
    <div id="map_canvas"></div>
  </div>
<script>

    

</script>