<div id="map" data-role="view"
    data-title="Map"
    data-stretch="true"
    data-init="App.initMap"
      data-layout="layout">
    <div data-role="header">
      <div data-role="navbar">
        <span data-role="view-title"></span>
        <a data-role="button"
          data-click="App.onSetGeoLocationClick"
          data-align="right"
          data-icon="home">
        </a>
      </div>
    </div>
    <div id="map_canvas"></div>
  </div> 

  <div id="map-modal" data-role="modalview" style="width: 95%; height: 18em;"
    data-title="Getting Started">
    <div data-role="header">
      <div data-role="navbar">
        <span data-role="view-title"></span>
      </div>
    </div>
    The <i class="km-icon km-home"></i> home button in the top right will get your current geolocation when clicked.
    <div class="button-container">
      <a data-role="button"
        data-click="App.onCloseModalClick"
        data-icon="action">
        OK, got it!
      </a>
    </div>
  </div>

  <div id="geolocation-error-modal" data-role="modalview" style="width: 95%; height: 18em;"
    data-title="Geolocation Error">
    <div data-role="header">
      <div data-role="navbar">
        <span data-role="view-title"></span>
        <a data-role="button"
          data-click="App.onCloseModalClick"
          data-align="right"
          data-icon="downloads">
        </a>
      </div>
    </div>
    Geolocation has been denied or is not enabled on this device.
    Turn on location services in privacy settings and try again.
  </div>



<script>
    var App = {
  mobile: null,
  map: null,
  geoLocation: {
    position: null,
    marker: null,
    timer: null,
    error: false
  },

  init: function () {
    
  },

  initMap: function (e) {
    var me = App;
    var element = document.getElementById('map_canvas');
    var options = {
      center: new google.maps.LatLng(36.9759254, -121.9533386),
      mapTypeId: google.maps.MapTypeId.ROADMAP,
      zoom: 8
    };

    //CREATE MAP AND SAVE TO APP FOR LATER USE
    me.map = new google.maps.Map(element, options);

    //OPEN MODAL INSTRUCTIONS
    $('#map-modal').getKendoMobileModalView().open();
  },

  //USE TO CLOSE ANY MODAL
  onCloseModalClick: function (e) {
    //GET MODAL
    var modal = e.target
    .closest('.km-modalview')
    .getKendoMobileModalView();

    //CLOSE MODAL
    modal.close();
  },

  onSetGeoLocationClick: function (e) {
    var me = App;
    me.setGeoLocation(true);
  },

  //TRACKS THE DEVICE GEO LOCATION
  //http://diveintohtml5.info/geolocation.html
  //http://www.bennadel.com/blog/2023-Geocoding-A-User-s-Location-Using-Javascript-s-GeoLocation-API.htm
  setGeoLocation: function (watchPosition, fnCallback) {
    var me = this;

    var options = {
      timeout: (5 * 1000), //5 seconds
      maximumAge: (1000 * 60 * 15), //15 mins
      enableHighAccuracy: true
    };

    var success = function (position) {
      //PROCESS CALLBACK IF APPLICABLE
      if (fnCallback) fnCallback(position ? {
        lat: position.coords.latitude,
        lng: position.coords.longitude
      } : null);

      //RESET ERROR FLAG
      me.geoLocation.error = false;

      //VALIDATE POSITION
      if (!position) {
        me.geoLocation.position = null;
        me.geoLocation.marker.setVisible(false);
        return;
      }

      //DECLARE VARIABLES
      var latLng = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);

      //UPDATE GEO POSITION
      me.geoLocation.position = {
        lat: position.coords.latitude,
        lng: position.coords.longitude
      };

      //HANDLE NEW GEO MARKER FIRST TIME
      if (!me.geoLocation.marker) {
        //ADD GEO MARKER
        me.geoLocation.marker = new google.maps.Marker({
          position: latLng,
          map: me.map,
          animation: google.maps.Animation.DROP

        });
      } else {
        //UPDATE POSITION IF APPLICABLE
        me.geoLocation.marker.setMap(me.map);
        me.geoLocation.marker.setPosition(latLng);
        me.geoLocation.marker.setVisible(true);
      }

      me.map.setCenter(latLng);
    };

    var error = function (err) {
      //HANDLE ERROR
      switch (err.code) {
        case err.PERMISSION_DENIED:
          //NOTIFY USER OF NEW ERROR
          if (!me.geoLocation.error)
            //OPEN MODAL INSTRUCTIONS
            $('#geolocation-error-modal').getKendoMobileModalView().open();
          break;
        case err.POSITION_UNAVAILABLE:
          //NOTIFY USER OF NEW ERROR
          if (!me.geoLocation.error)
            //OPEN MODAL INSTRUCTIONS
            $('#geolocation-error-modal').getKendoMobileModalView().open();
          break;
        case err.TIMEOUT:
          break;
        case err.UNKNOWN_ERROR:
          break;
      }

      //SET ERROR FLAG
      me.geoLocation.error = true;
    };

    //HANDLE GEO LOCATION IF APPLICABLE
    if (navigator.geolocation) {
      //REQUEST INITIAL GEO LOCATION
      navigator.geolocation.getCurrentPosition(success, error, options);

      //WATCH FOR PHYSICAL MOVEMENT
      //SAVE TIMER FOR STOPPING LATER IF NEEDED
      if (watchPosition) me.geoLocation.timer = navigator.geolocation.watchPosition(success, error);
    }
  },

  getGeoLocation: function (fnCallback) {
    this.setGeoLocation(false, fnCallback);
  }
};

//INITAILIZE APP
</script>

