<div data-role="view" id="home"   data-model="Offers" >
    <div data-role="header" >
        <div data-role="navbar"   >
            <span id="homeTitle" > My Offers </span>
            <a  data-role="button" href="#home" data-align="left" data-icon="back" data-bind="click:removeAllFilters"></a>
             <a  data-role="button" data-align="right" data-icon="add" href="views/AddOfferLogged.html" >Add</a>

        </div>
    </div>

    <ul id="OffersListview" data-style="inset" data-role="listview" data-template="OffersTemplate" data-bind="source: offers"></ul>
    
</div>

<div data-role="footer">sdfg</div>

<script type="text/x-kendo-template" id="OffersTemplate">
    <div data-role="touch" data-bind="events: { tap: CheckDeleteOffer }" >
        
        <div >
        <div class="overlay"></div>
        <div class="discount-overlay">${calculateDiscount()}%</div>
     <img class="homeLine" data-bind="attr:{src: PictureUrl}" alt="styles/images/avatar.png" width="40%" />
             <span class="title">${Title}</span><br>
             <span class="price">${FinalPrice}  </span> <span class="discount">Lev.</span><br>
              <span class="store"> ${Store().Name}</span> <br>
              <span class="discount">Expires at: ${ExpFormatDate()}</span>
               ${Store().City}
    
   

        </div>
    </div>  
    
</script>

<!-----modal Check Delete!-->
<div data-role="modalview" id="modalviewCheckDeleteOffer" style="width: 90%;"  data-model="Offers">
    <div data-role="header">
        <div data-role="navbar">
            <span>Delete</span>
        </div>
    </div>
    <div class="allignCenter">
        Are you sure you want to delete this store?
        <a class="stretchBtb" type="button" data-role="button" data-bind="click:removeSelectedOffer">Yes</a>
        <a class="stretchBtb"  type="button" data-role="button" data-click="closemodalviewCheckDeleteOffer">No</a>
     </div>
</div>
<script>
    function closemodalviewCheckDeleteOffer() {
        $("#modalviewCheckDeleteOffer").kendoMobileModalView("close");

    }
    </script>